@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To FPT Store for Assignment 2.</p>
</div>
<div class="card-columns">
    @foreach (var item in Model.Product)
    {
        <div class="card">
            <img class="card-img-top" src="@Url.Content("~/Images/" + item.ProductImage)" alt="@Html.DisplayFor(modelItem => item.ProductName)">

            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </h5>
                <p class="card-text">Product's Description.</p>
                <a href="#" class="btn btn-primary">Order now</a>
                <a asp-page="/Products/Details" asp-route-id="@item.ProductId">Details</a>

            </div>
        </div>
    }
</div>