@page
@model Ass02Solution_NguyenTuanKhai_SE151228.Pages.Categories.CreateModel

<h4>Catergory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Catergory.CategoryId" class="control-label"></label>
                <input asp-for="Catergory.CategoryId" class="form-control" />
                <span asp-validation-for="Catergory.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Catergory.CategoryName" class="control-label"></label>
                <input asp-for="Catergory.CategoryName" class="form-control" />
                <span asp-validation-for="Catergory.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Catergory.Description" class="control-label"></label>
                <input asp-for="Catergory.Description" class="form-control" />
                <span asp-validation-for="Catergory.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
