@page
@model Ass02Solution_NguyenTuanKhai_SE151228.Pages.Customers.EditModel

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}@if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") == null)
{
    RedirectToPage("/Login");
}
<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customer.CustomerId" />
            <div class="form-group">
                <label asp-for="Customer.Password" class="control-label"></label>
                <input asp-for="Customer.Password" class="form-control" />
                <span asp-validation-for="Customer.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.ContactName" class="control-label"></label>
                <input asp-for="Customer.ContactName" class="form-control" />
                <span asp-validation-for="Customer.ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Address" class="control-label"></label>
                <input asp-for="Customer.Address" class="form-control" />
                <span asp-validation-for="Customer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.Phone" class="control-label"></label>
                <input asp-for="Customer.Phone" class="form-control" />
                <span asp-validation-for="Customer.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (@HttpContextAccessor.HttpContext.Session.GetString("role") != null && @HttpContextAccessor.HttpContext.Session.GetString("role").Equals("1"))
{
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
